<main class="container">


<!-- there should be a button here -->
  <section class="center-text">
    <button id="color-button"><h1>Happy Birthday!!!!!</h1></button>
  </section>
   <%#erb :_love_you%>













</main>
